# Ignore node_modules and Angular build files
ModelinkFrontend/node_modules/
ModelinkFrontend/dist/

# Ignore .NET Core build files and dependencies
ModelinkBackend/bin/
ModelinkBackend/obj/
ModelinkBackend/*.db

# Ignore system files
.DS_Store
.vscode/
