<div *ngIf="searchQuery != ''" class="search-results flex flex-column p-4 pr-6 pl-6">
  <h3>Search Results for "{{ searchQuery }}"</h3>
  <div *ngIf="!modelsNotFound" class="models-list-container mb-5">
    <p style="font-size: medium; font-weight: 500; color: rgb(124, 128, 126); margin: 0.3rem; margin-left: 0px;">Models
      that matched your search</p>
    <div class="models-list flex flex-wrap gap-4">
      <div *ngFor="let model of models" class="item flex flex-column h-15rem" (click)="select(model.userId)">
        <img [src]="model.profilePictureBase64" alt="Model Image" class="profile-picture"
          (error)="onImageError($event)" />
        <div class="flex justify-content-between">
          <div class="info">
            <h4 class="mb-0 pr-2 pl-2" style="margin-top: 0.8rem;">{{ model.firstName }} {{model.lastName}}</h4>
            <p *ngIf="model.agencyName != null" class="text-sm mb-0 mt-1 pr-2 pl-2">{{ model.agencyName }}</p>
          </div>
          <p *ngIf="model.cityName != null" class="location text-sm mb-0 mt-3 pr-3">{{ model.cityName }}, {{
            model.countryName }}</p>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!agenciesNotFound" class="agency-list-container">
    <p style="font-size: medium; font-weight: 500; color: rgb(124, 128, 126); margin: 0.3rem; margin-left: 0px;">
      Agencies that matched your search</p>
    <div class="agencies-list flex flex-wrap gap-4">
      <div *ngFor="let agency of agencies" class="item flex flex-column h-15rem" (click)="select(agency.userId)">
        <img [src]="agency.profilePictureBase64" alt="Model Image" class="profile-picture"
          (error)="onImageError($event)" />
        <h4 class="mb-0 pr-2 pl-2" style="margin-top: 0.8rem;">{{ agency.name }}</h4>
        <p *ngIf="agency.cityName != null" class="text-sm mb-0 mt-2 pr-2 pl-2">{{ agency.cityName }}, {{
          agency.countryName }}</p>
      </div>
    </div>
  </div>

  <div *ngIf="modelsNotFound && agenciesNotFound"
    class="mt-4 align-self-center justify-self-center flex flex-column align-items-center">
    <img src="assets/images/not-found.png" alt="No results found" class="no-results-image h-24rem" />
    <h3 style="font-size: x-large; font-weight: 700; color: rgb(124, 128, 126); margin-top: 0%;">No results found</h3>
  </div>
</div>

<div *ngIf="!isLoggedIn() && searchQuery == ''" class="suggestions flex flex-column p-4 pr-6 pl-6">
  <div *ngIf="suggestedModels != []" class="models-list-container mb-5">
    <p
      style="font-size: medium; font-weight: 500; color: rgb(124, 128, 126); margin: 0.3rem; margin-left: 0px; margin-top: 0.5rem;">
      Suggested models</p>
    <hr>
    <div class="models-list flex flex-wrap gap-4 mt-1">
      <div *ngFor="let model of suggestedModels" class="item flex flex-column h-15rem" (click)="select(model.userId)">
        <img [src]="model.profilePictureBase64" alt="Model Image" class="profile-picture"
          (error)="onImageError($event)" />
        <div class="flex justify-content-between">
          <div class="info">
            <h4 class="mb-0 pr-2 pl-2" style="margin-top: 0.8rem;">{{ model.firstName }} {{model.lastName}}</h4>
            <p *ngIf="model.agencyName != null" class="text-sm mb-0 mt-1 pr-2 pl-2">{{ model.agencyName }}</p>
          </div>
          <p *ngIf="model.cityName != null" class="location text-sm mb-0 mt-3 pr-3">{{ model.cityName }}, {{
            model.countryName }}</p>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="suggestedAgencies != []" class="agency-list-container">
    <p style="font-size: medium; font-weight: 500; color: rgb(124, 128, 126); margin: 0.3rem; margin-left: 0px;">
      Suggested agencies</p>
    <hr>
    <div class="agencies-list flex flex-wrap gap-4">
      <div *ngFor="let agency of suggestedAgencies" class="item flex flex-column h-15rem" (click)="select(agency.userId)">
        <img [src]="agency.profilePictureBase64" alt="Model Image" class="profile-picture"
          (error)="onImageError($event)" />
        <h4 class="mb-0 pr-2 pl-2" style="margin-top: 0.8rem;">{{ agency.name }}</h4>
        <p *ngIf="agency.cityName != null" class="text-sm mb-0 mt-2 pr-2 pl-2">{{ agency.cityName }}, {{
          agency.countryName }}</p>
      </div>
    </div>
  </div>

  <div *ngIf="suggestedModels == []"
    class="mt-4 align-self-center justify-self-center flex flex-column align-items-center">
    <img src="assets/images/not-found.png" alt="No results found" class="no-results-image h-24rem" />
    <h3 style="font-size: x-large; font-weight: 700; color: rgb(124, 128, 126); margin-top: 0%;">No model or agency
      suggestions.</h3>
  </div>
</div>
