.profile-container {
  display: flex;
}

.left-panel {
  width: 38%;
}

.right-panel {
  width: 62%;
}

.profile-picture {
  height: 190px;
  width: 190px;
  object-fit: cover;
}

:host ::ng-deep .p-datepicker .p-datepicker-header {
  background: none;
}

:host ::ng-deep .p-datepicker table td {
  padding: 0.10rem;
  padding-left: 0.20rem;
  padding-right: 0.20rem;
}

.highlighted-date {
  background-color: whitesmoke;
  border-radius: 50%;
  padding: 0.45rem;
  font-weight: bold;
  color: var(--primary-color);
}

:host ::ng-deep .p-chip {
  background-color: #d2dad5;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  border-radius: 6px;
  margin-bottom: 0.5rem;
  color: #565757;
}

@media screen and (max-width: 1092px) {
  .profile-container {
    flex-direction: column;
  }
  .left-panel {
    width: 100%;
  }
  .right-panel {
    width: 100%;
  }
}
