<div class="profile-container p-3 pr-5 pl-5">
  <div class="left-panel pr-3">
    <div class="profile-header flex justify-content-start align-items-center mt-2">
      <img class="border-circle picture" [src]="modelInfo.profilePicture" alt="Profile Image" />
      <div class="pl-4">
        <h2 class="font-semibold text-5xl mb-1 mt-0">{{modelInfo.firstName}}
          {{modelInfo.lastName}}</h2>
        <p class="font-medium text-2xl mb-1 mt-1 cursor-pointer	agency-name"
          *ngIf="modelInfo.agencyId != null || modelInfo.agencyId != '' || modelInfo.agencyId != 0"
          (click)="goToAgencyProfile(modelInfo.agencyId)">
          {{modelInfo.agencyName}}
        </p>
      </div>
    </div>
    <div class="mt-3 mb-2 additional-info">
      <p class="text-lg font-medium" *ngIf="modelInfo.cityName != '' || modelInfo.cityName != null"><i
          class="pi pi-map-marker mr-2"></i> {{modelInfo.cityName}},
        {{modelInfo.countryName}}</p>
      <p class="mb-4 mt-1 text-lg font-medium"><i class="pi pi-envelope mr-2"></i> {{modelInfo.email}}</p>
      <div class="attributes-and-edit-button">
        <div class="attribute-chip-container flex flex-wrap gap-2">
          <p-chip [label]="modelInfo.gender">
            <i class="fas fa-venus-mars" style="margin-right: 8px;"></i>
          </p-chip>
          <p-chip [label]="modelInfo.height.toString() + ' cm'">
            <i class="fas fa-ruler-vertical" style="margin-right: 8px;"></i>
          </p-chip>
          <p-chip [label]="modelInfo.weight.toString() + ' kg'">
            <i class="fas fa-weight" style="margin-right: 8px;"></i>
          </p-chip>
          <p-chip [label]="modelInfo.hairColor + ' hair'">
            <i class="fas fa-paint-brush" style="margin-right: 8px;"></i>
          </p-chip>
          <p-chip [label]="modelInfo.eyeColor + ' eyes'">
            <i class="fas fa-eye" style="margin-right: 8px;"></i>
          </p-chip>
          <p-chip [label]="modelInfo.skinColor + ' skin'">
            <i class="fas fa-user" style="margin-right: 8px;"></i>
          </p-chip>
        </div>
        <p-button *ngIf="loggedInUserId == userId" icon="pi pi-pen-to-square" class="edit-button"
          (onClick)="editDialogeVisible = true;"></p-button>
      </div>
    </div>
    <!-- calendar shows is model is signed -> has some events to possibly attend -->
    <p-calendar *ngIf="modelInfo.agencyId != null" [inline]="true" [showIcon]="true" dateFormat="dd/mm/yy"
      [readonlyInput]="true">
      <ng-template pTemplate="date" let-date>
        <span [ngClass]="{
          'highlighted-date': isHighlightedDate(date.day, date.month, date.year)
        }" (click)="onDateClick(date)"
          [style.cursor]="isHighlightedDate(date.day, date.month, date.year) ? 'pointer' : 'default'">
          {{ date.day }}
        </span>
      </ng-template></p-calendar>
    <!-- if model is freelancer show request sent for agencies, but only if that is the profile of that user-->
    <div *ngIf="loggedInUserId == userId && modelInfo.agencyId == null" class="mt-5">
      <p class="mb-1">You have requested to join these agencies: </p>
      <p-carousel *ngIf="freelancerRequests != [] && freelancerRequests.length > 0" [value]="freelancerRequests"
        [numVisible]="1" [numScroll]="1" [circular]="true">
        <ng-template let-request pTemplate="item">
          <div class="flex justify-content-end align-items-end w-full">
            <p>{{ formatDate(request.requestedAt) }}</p>
          </div>
          <div class="flex gap-2 w-full mb-3 ml-2">
            <img class="profile-picture-request border-round-lg" [src]="request.agencyProfilePicture"
              alt="Request Image" />
            <div class="ml-2 flex flex-column justify-content-center">
              <p (click)="goToAgencyProfile(request.agencyId)"
                class="cursor-pointer text-gray-600 text-lg align-self-center mt-0 font-semibold">
                {{ request.agencyName }}
              </p>
              <p class="mt-0">STATUS: {{ request.status }}</p>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
  <div class="right-panel flex flex-column align-items-center justify-content-center">
    <div *ngIf="loggedInUserId == userId" class="flex justify-content-end w-full mb-2">
      <p-button icon="pi pi-plus" label="Create Post" class="create-post-button"
        (onClick)="createPostDialogeVisible = true"></p-button>
    </div>
    <div *ngFor="let post of portfolioPosts" class="post mb-2">
      <div class="flex align-items-center justify-content-between font-medium text-gray-500">
        <p class="mb-1 text-lg ">{{post.title}}</p>
        <p class="mb-1 text-lg ">{{formatDate(post.createdAt)}}</p>
      </div>
      <!-- <p-carousel *ngIf="post?.images!.length > 0" [value]="post!.images" [numVisible]="1" [numScroll]="1"
        [circular]="true" [responsiveOptions]="responsiveOptions" class="limited-carousel">
        <ng-template let-image pTemplate="item">
          <img class="profile-picture border-round-lg" [src]="image" alt="Post Image" />
        </ng-template>
      </p-carousel> -->
      <p-galleria [value]="post.images" [showIndicators]="true" [showThumbnails]="false" [showItemNavigators]="true"
        [responsiveOptions]="responsiveOptionImages" [containerStyle]="{ 'max-width': '640px' }" [numVisible]="5">
        <ng-template pTemplate="item" let-item>
          <img [src]="item" class="galleria-picture" />
        </ng-template>
      </p-galleria>
      <p class="description mb-1 mt-0 font-medium text-gray-500">{{post.description}}</p>
      <div *ngIf="loggedInUserId == userId" class="buttons flex justify-content-end">
        <p-button icon="pi pi-pen-to-square" class="edit-post-button"
          (onClick)="editPostDialogeVisible = true; patchEditPostDto(post);"></p-button>
        <p-button icon="pi pi-trash" class="delete-post-button"
          (onClick)="confirmDeleteButtonDialogeVisible = true; triggerDeleteConfDialog(post)"></p-button>
      </div>
      <p-divider align="center" type="solid">
      </p-divider>
    </div>
  </div>
</div>



<p-dialog header="Edit Profile" [modal]="true" [(visible)]="editDialogeVisible" [style]="{ width: '45rem' }">
  <div class="model mt-3">
    <div class="basic-info grid p-1 gap-0">
      <div class="col-12 md:col-6 lg:col-4 flex flex-column">
        <label class="text-xs mb-1" for="modelFirstName">FIRST NAME</label>
        <input type="text" pInputText [(ngModel)]="updateModelInfo.firstName" />
      </div>
      <div class="col-12 md:col-6 lg:col-4  flex flex-column">
        <label class="text-xs mb-1" for="modelLastName">LAST NAME</label>
        <input type="text" pInputText [(ngModel)]="updateModelInfo.lastName" />
      </div>
      <div class="col-12 md:col-6 lg:col-4 flex flex-column">
        <label class="text-xs mb-1" for="modelEmail">MAIL</label>
        <input type="text" pInputText [(ngModel)]="updateModelInfo.email" />
      </div>
      <div class="col-12 md:col-6 lg:col-4 flex flex-column relative">
        <label class="text-xs mb-1" for="modelCity">CITY</label>
        <input id="city-autocomplete" type="text" pInputText class="flex-auto" placeholder="Search for city"
          (input)="onCitySearch($event)" [(ngModel)]="selectedCity" autocomplete="off" />

        <ul *ngIf="citySuggestions.length > 0" class="autocomplete-suggestions">
          <li *ngFor="let suggestion of citySuggestions" (click)="selectCitySuggestion(suggestion)">
            {{ suggestion.display_name }}
          </li>
        </ul>
      </div>
      <div class="col-12 md:col-6 lg:col-4 flex flex-column">
        <label class="text-xs mb-1" for="modelHeight">HEIGHT</label>
        <input type="number" pInputText [(ngModel)]="updateModelInfo.height" />
      </div>
      <div class="col-12 md:col-6 lg:col-4 flex flex-column">
        <label class="text-xs mb-1" for="modelWeight">WEIGHT</label>
        <input type="number" pInputText [(ngModel)]="updateModelInfo.weight" />
      </div>
      <div class="col-12 md:col-6 lg:col-4 flex flex-column">
        <label class="text-xs mb-1" for="modelEyeColor">EYE COLOR</label>
        <!-- <input type="text" pInputText [(ngModel)]="modelEyeColor" /> -->
        <p-dropdown [options]="eyeColors" styleClass="w-full dropdown" [(ngModel)]="updateModelInfo.eyeColor"
          placeholder="Select an eye color" />
      </div>
      <div class="col-12 md:col-6 lg:col-4 flex flex-column">
        <label class="text-xs mb-1" for="modelHairColor">HAIR COLOR</label>
        <!-- <input type="text" pInputText [(ngModel)]="modelHairColor" /> -->
        <p-dropdown [options]="hairColors" styleClass="w-full dropdown" [(ngModel)]="updateModelInfo.hairColor"
          placeholder="Select a hair color" />
      </div>
      <div class="col-12 md:col-6 lg:col-4 flex flex-column">
        <label class="text-xs mb-1" for="modelSkinColor">SKIN COLOR</label>
        <!-- <input type="text" pInputText [(ngModel)]="modelSkinColor" /> -->
        <p-dropdown [options]="skinColors" styleClass="w-full dropdown" [(ngModel)]="updateModelInfo.skinColor"
          placeholder="Select a skin color" />
      </div>
    </div>
    <!-- gender -->
    <div class="col-12 md:col-6 lg:col-4 flex flex-column mb-3">
      <label class="text-xs mb-2" for="modelGender">GENDER</label>
      <div class="flex flex-wrap gap-3">
        <div class="flex align-items-center">
          <p-radioButton name="modelGender" value="Male" [(ngModel)]="updateModelInfo.gender" inputId="male" />
          <label for="male" class="ml-2">
            Male
          </label>
        </div>
        <div class="flex align-items-center">
          <p-radioButton name="modelGender" value="Female" [(ngModel)]="updateModelInfo.gender" inputId="female" />
          <label for="female" class="ml-2">
            Female
          </label>
        </div>
      </div>
    </div>
    <!-- profile picture -->
    <div class="col-12 md:col-6 lg:col-4 flex flex-column mb-2">
      <label class="text-xs mb-1" for="modelProfilePicture">PROFILE PICTURE</label>
      <div class="flex gap-2 align-items-end">
        <img *ngIf="updateModelInfo.profilePicture" [src]="updateModelInfo.profilePicture" alt="Uploaded Image"
          class="mt-2" style="width: 150px; height: 150px; object-fit: cover;" />
        <p-fileUpload #fileUpload mode="basic"
          [chooseLabel]="updateModelInfo.profilePicture ? profilePictureName : 'Choose'" chooseIcon="pi pi-upload"
          accept="image/*" maxFileSize="1000000" (onSelect)="onImageSelect($event, fileUpload)"></p-fileUpload>
      </div>
    </div>
  </div>
  <div class="flex justify-content-end">
    <p-button label="Cancel" icon="pi pi-times" class="cancel-button mr-2" (onClick)="editDialogeVisible = false" />
    <p-button label="Save" icon="pi pi-check" (onClick)="updateModel()" />
  </div>
  <div class="form-invalid-message flex justify-content-end">
    <p *ngIf="formInvalidMessageVisible" class="justify-content-end mb-0 pb-0">All fields are required!</p>
  </div>
</p-dialog>

<p-dialog header="Edit Post" [modal]="true" [(visible)]="editPostDialogeVisible" [style]="{ width: '48rem' }">
  <div class="mt-3">
    <div class="flex flex-column mb-2">
      <label class="text-xs mb-1" for="modelPostTitle">POST TITLE</label>
      <input type="text" pInputText [(ngModel)]="updatePost.title" />
    </div>
    <div class="flex flex-column mb-1">
      <label class="text-xs mb-1" for="modelPostDescription">POST DESCRIPTION</label>
      <textarea rows="4" type="text" pTextarea [(ngModel)]="updatePost.description"></textarea>
    </div>
    <label class="text-xs" for="modelPostImages">IMAGES</label>
    <div class="images flex flex-wrap gap-2 mt-1">
      <div *ngFor="let image of updatePost.images" class="flex flex-column align-items-end">
        <img [src]="image" class="update-post-image-display" />
        <p-button icon="pi pi-trash" class="delete-post-button" (onClick)="deletePostImage(image)"></p-button>
      </div>
    </div>
    <div *ngIf="showFileUpload">
      <p-fileUpload #fileUpload mode="basic" chooseIcon="pi pi-upload" accept="image/*" maxFileSize="1000000"
        (onSelect)="onEditPostImageSelect($event)">
      </p-fileUpload>
    </div>
    <div class="form-invalid-message flex justify-content-end">
      <p *ngIf="editPostFormInvalidMessageVisible" class="justify-content-end mb-2 pb-0">All fields are required!</p>
    </div>
    <div class="flex justify-content-end">
      <p-button label="Cancel" icon="pi pi-times" class="cancel-button mr-2"
        (onClick)="editPostDialogeVisible = false"></p-button>
      <p-button label="Save" icon="pi pi-check" (onClick)="postUpdate()"></p-button>
    </div>
  </div>
</p-dialog>

<p-dialog header="Create Post" [modal]="true" [(visible)]="createPostDialogeVisible" [style]="{ width: '48rem' }">
  <div class="mt-3">
    <div class="flex flex-column mb-2">
      <label class="text-xs mb-1" for="modelPostTitle">POST TITLE</label>
      <input type="text" pInputText [(ngModel)]="createPost.title" />
    </div>
    <div class="flex flex-column mb-1">
      <label class="text-xs mb-1" for="modelPostDescription">POST DESCRIPTION</label>
      <textarea rows="4" type="text" pTextarea [(ngModel)]="createPost.description"></textarea>
    </div>
    <label class="text-xs" for="modelPostImages">IMAGES</label>
    <div class="images flex flex-wrap gap-2 mt-1">
      <div *ngFor="let image of createPost.images" class="flex flex-column align-items-end">
        <img [src]="image" class="update-post-image-display" />
        <p-button icon="pi pi-trash" class="delete-post-button"
          (onClick)="deletePostImageInCreateDialog(image)"></p-button>
      </div>
    </div>
    <div *ngIf="showCreatePostFileUpload">
      <p-fileUpload #fileUpload mode="basic" chooseIcon="pi pi-upload" accept="image/*" maxFileSize="1000000"
        (onSelect)="onCreatePostImageSelect($event)">
      </p-fileUpload>
    </div>
    <div class="form-invalid-message flex justify-content-end mb-2">
      <p *ngIf="createPostFormInvalidMessageVisible" class="justify-content-end mb-0 pb-0">All fields are required!</p>
    </div>
    <div class="flex justify-content-end">
      <p-button label="Cancel" icon="pi pi-times" class="cancel-button mr-2"
        (onClick)="createPostDialogeVisible = false"></p-button>
      <p-button label="Create" icon="pi pi-check" (onClick)="postCreate()"></p-button>
    </div>
  </div>
</p-dialog>

<p-confirmDialog></p-confirmDialog>

<p-toast></p-toast>
