.menubar-container {
  background-color: var(--primary-color);
}

:host ::ng-deep .menubar-button .p-button {
  background-color: var(--secondary-color);
}

:host ::ng-deep .searchbar-button .p-button {
  background-color: var(--accent-color);
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

:host ::ng-deep .searchbar-clear-button .p-button {
  background-color: var(--accent-color);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.searchbar-name {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  border: none;
  border-left: solid 1px var(--accent-color);
  border-radius: 0%;
}

.searchbar-location {
  border: none;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.searchbar-container {
  bottom: -20px;
  left: 45%;
  border: none;
  width: 38%;
}

@media screen and (max-width: 969px) {
  .searchbar-container {
    display: none !important;
  }

  .menubar-container {
    min-width: 550px;
  }
}

.autocomplete-suggestions {
  position: absolute;
  background: white;
  z-index: 999;
  border: 1px solid #ccc;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  margin-top: 0.5rem;
  top: 60px;  /* for positioning belov address input field*/
  border-radius: 6px;
}

.autocomplete-suggestions li {
  padding: 0.5rem;
  cursor: pointer;
}

.autocomplete-suggestions li:hover {
  background-color: #f0f0f0;
}
