.menubar-container {
  background-color: var(--primary-color);
}

:host ::ng-deep .menubar-button .p-button {
  background-color: var(--secondary-color);
}

:host ::ng-deep .searchbar-button .p-button {
  background-color: var(--accent-color);
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

:host ::ng-deep .searchbar-clear-button .p-button {
  background-color: var(--accent-color);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.searchbar {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  border: none;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}

.searchbar-container {
  bottom: -20px;
  left: 50%;
  border: none;
  width: 25%;
}
