<div class="profile-container p-3 pr-5 pl-5">
  <div class="left-panel pr-3">
    <div class="profile-header flex justify-content-start align-items-center mt-2">
      <img class="border-circle picture" [src]="agencyInfo?.profilePicture" alt="Profile Image" />
      <div class="pl-4">
        <h2 class="font-semibold text-5xl mb-1 mt-0">{{agencyInfo?.name}}</h2>
      </div>
    </div>
    <div class="mt-3 mb-0 additional-info">
      <p class=" text-lg font-medium"><i class="pi pi-book mr-2"></i> {{agencyInfo?.description}} </p>
      <p class="text-lg font-medium mt-1" *ngIf="agencyInfo?.cityName != '' || agencyInfo?.cityName != null"><i
          class="pi pi-map-marker mr-2"></i>{{agencyInfo?.address}}, {{agencyInfo?.cityName}},
        {{agencyInfo?.countryName}}</p>
      <p class="mb-0 mt-1 text-lg font-medium"><i class="pi pi-envelope mr-2"></i> {{agencyInfo?.email}}</p>
    </div>
    <div class="flex justify-content-between align-items-end">
      <div class="flex-90"></div>
      <p-button *ngIf="loggedInUserId == userId" icon="pi pi-pen-to-square" class="edit-button"
        (onClick)="editDialogeVisible = true;"></p-button>
        <div *ngIf="loggedInUserId != userId" class="p-2" ></div>
    </div>
    <!-- calendar shows all event start dates -->
    <p-calendar [inline]="true" [showIcon]="true" dateFormat="dd/mm/yy" [readonlyInput]="true">
      <ng-template pTemplate="date" let-date>
        <span [ngClass]="{
          'highlighted-date': isHighlightedDate(date.day, date.month, date.year)
        }" (click)="onDateClick(date)"
          [style.cursor]="isHighlightedDate(date.day, date.month, date.year) ? 'pointer' : 'default'">
          {{ date.day }}
        </span>
      </ng-template></p-calendar>
  </div>
  <div class="right-panel flex flex-column align-items-center">
    <p-stepper class="w-full">
      <p-stepperPanel header="Events">
        <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
          <div class="flex flex-column">
            <div class="flex justify-content-end">
              <div class="filter-bar mb-2 mr-2" style="display: flex; align-items: center; gap: 0.5rem;">
                <i class="pi pi-filter" style="font-size: 1.5rem;"></i>
                <p-dropdown [options]="eventStatusOptions" [(ngModel)]="selectedEventStatus"
                  placeholder="Filter by status" (onChange)="eventStatusFilterChange($event)"
                  styleClass="p-inputtext-sm" optionLabel="label">
                </p-dropdown>
              </div>
              <p-button *ngIf="loggedInUserId == userId" icon="pi pi-plus" class="add-event-button" label="Add Event"
                (onClick)="addEventDialogueVisible = true"></p-button>
            </div>
            <div *ngIf="filteredEvents.length != 0" class="models-list flex flex-wrap gap-4">
              <div *ngFor="let event of filteredEvents" class="item flex flex-column h-15rem"
                (click)="selectEvent(event.id)">
                <img [src]="event.profilePicture" alt="Event Image" class="profile-picture"
                  (error)="onImageError($event)" />
                <div class="flex justify-content-between">
                  <div class="info">
                    <h4 class="mb-0 pr-2 pl-2 truncate" style="margin-top: 0.8rem;">{{ event.title }}</h4>
                    <p *ngIf="event.agencyName != null" class="text-sm mb-0 mt-1 pr-2 pl-2">{{ event.agencyName }}</p>
                  </div>
                  <div class="location">
                    <p *ngIf="event.cityName != null" class="text-sm mb-0 mt-3 pr-3">{{ event.cityName }}</p>
                    <p *ngIf="event.startDate != null" class="text-sm mb-0 mt-1 pr-3">{{
                      formatDateForEventCard(event.startDate) }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="filteredEvents.length == 0"
            class="flex flex-column justify-content-center align-items-center  text-gray-400 text-sm font-medium pl-4">
            <img src="assets/images/not-found.png" alt="No events found" class="w-20rem h-20rem mt-3" />
            <p class="text-center text-lg font-semibold mt-0 pt-0">No events found.</p>
          </div>
        </ng-template>
      </p-stepperPanel>
      <p-stepperPanel header="Models">
        <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback"
          let-index="index">
          <div class="flex flex-column">
            <div *ngIf="agencyInfo?.models!.length > 0" class="models-list flex flex-wrap gap-4 mt-3">
              <div *ngFor="let model of agencyInfo!.models" class="item flex flex-column h-15rem relative"
                style="overflow: visible;" (click)="goToModelProfile(model.userId)">
                <i *ngIf="loggedInUserId == userId" class="pi pi-trash bg-white border-circle shadow-2 p-2 text-sm"
                  style="position: absolute; top: -10px; right: -10px;"
                  (click)="unsignModel(model.userId); $event.stopPropagation()"></i>
                <img [src]="model.profilePicture" alt="Model Image" class="profile-picture"
                  (error)="onImageError($event)" />
                <div class="flex justify-content-between">
                  <div class="pl-2 pr-2 w-full">
                    <h4 class="mb-0 pr-2 pl-2" style="margin-top: 0.8rem;">{{ model.firstName }} {{model.lastName}}</h4>
                    <p *ngIf="model.cityName != null" class=" text-sm mb-0 mt-2 pr-2 pl-2">{{ model.cityName }},
                      {{model.countryName }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-stepperPanel>
      <p-stepperPanel *ngIf="loggedInUserId == userId" header="Requests">
        <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback"
          let-index="index">
          <div class="flex flex-column">
            <!-- pending requests -->
            <div *ngIf="loggedInUserId == userId" class="mt-0">
              <p *ngIf="pendingFreelancerRequests.length > 0" class="mb-1">These
                models requested to join: </p>
              <p-carousel *ngIf="pendingFreelancerRequests.length > 0" [value]="pendingFreelancerRequests"
                [numVisible]="1" [numScroll]="1" [circular]="true">
                <ng-template let-request pTemplate="item">
                  <div class="flex justify-content-end align-items-end w-full">
                    <p class="mt-2">{{ formatDate(request.requestedAt) }}</p>
                  </div>
                  <div class="flex gap-2 w-full mb-3 ml-4">
                    <img (click)="goToModelProfile(request.userModelId)" class="profile-picture-request border-round-lg"
                      [src]="request.modelProfilePicture" alt="Request Image" />
                    <div class="ml-2 flex flex-column justify-content-center">
                      <p (click)="goToModelProfile(request.userModelId)"
                        class="cursor-pointer text-gray-600 text-lg align-self-start mt-0 mb-0 font-semibold">
                        {{ request.modelFirstName }} {{ request.modelLastName }}
                      </p>
                      <p *ngIf="request.modelCityName != null" class="text-gray-500 text-sm mb-0 mt-1">{{
                        request.modelCityName }},
                        {{ request.modelCountryName }}</p>
                      <div class="buttons flex gap-2 mt-2">
                        <button pButton class="p-button-sm" label="Accept"
                          (click)="acceptFreelancerRequest(request.requestId)"><i class="pi pi-check mr-2"></i></button>
                        <button pButton class="p-button-sm p-button-secondary" label="Decline"
                          (click)="declineFreelancerRequest(request.requestId)"><i
                            class="pi pi-trash mr-2"></i></button>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </p-carousel>
            </div>
            <!-- all requests -->
            <div *ngIf="agencyInfo?.freelancerRequests" class="all-requests p-3 mt-2">
              <div class=" flex justify-content-between align-items-start">
                <p class="mb-1 mt-0">All models requests:</p>
                <div class="filter-bar mb-2 mr-2" style="display: flex; align-items: center; gap: 0.5rem;">
                  <i class="pi pi-filter" style="font-size: 1.5rem;"></i>
                  <p-dropdown [options]="freelancerRequestStatusOptions" [(ngModel)]="selectedFreelancerRequestStatus"
                    placeholder="Filter by status" (onChange)="freelancerRequestStatusFilterChange($event)"
                    styleClass="p-inputtext-sm" optionLabel="label">
                  </p-dropdown>
                </div>
              </div>
              <div *ngFor="let request of filteredFreelancerRequests">
                <div class="flex gap-2 w-full mb-3 ml-4">
                  <img (click)="goToModelProfile(request.userModelId)" class="profile-picture-request border-round-lg"
                    [src]="request.modelProfilePicture" alt="Request Image" />
                  <div class="ml-2 flex flex-column justify-content-center">
                    <p (click)="goToModelProfile(request.userModelId)"
                      class="cursor-pointer text-gray-600 text-lg align-self-start mt-0 mb-0 font-semibold">
                      {{ request.modelFirstName }} {{ request.modelLastName }}
                    </p>
                    <p *ngIf="request.modelCityName != null" class="text-gray-500 text-sm mb-0 mt-1">{{
                      request.modelCityName }},
                      {{ request.modelCountryName }}</p>
                    <div *ngIf="request.status == 'pending'" class="buttons flex gap-2 mt-2">
                      <button pButton class="p-button-sm" label="Accept"
                        (click)="acceptFreelancerRequest(request.requestId)"><i class="pi pi-check mr-2"></i></button>
                      <button pButton class="p-button-sm p-button-secondary" label="Decline"
                        (click)="declineFreelancerRequest(request.requestId)"><i class="pi pi-trash mr-2"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="filteredFreelancerRequests.length == 0"
                class="flex flex-column justify-content-center align-items-center  text-gray-400 text-sm font-medium pl-4">
                <img src="assets/images/not-found.png" alt="No events found" class="w-20rem h-20rem mt-3" />
                <p class="text-center text-lg font-semibold mt-0 pt-0">No requests found.</p>
              </div>
            </div>
          </div>
        </ng-template>
      </p-stepperPanel>
    </p-stepper>
  </div>
</div>

<p-toast></p-toast>

<p-confirmDialog></p-confirmDialog>

<p-dialog header="Add new event" [modal]="true"  [(visible)]="addEventDialogueVisible" [style]="{ width: '60%', overflow: 'auto', maxHeight: '86%' }" [baseZIndex]="10000">
  <div class="attributes-container mb-4">
    <div class="flex flex-column mb-2">
      <label for="title" class="font-semibold w-24 mb-1">Title</label>
      <input pInputText id="title" class="flex-auto" autocomplete="off" [(ngModel)]="newEvent.title" />
    </div>
    <div class="flex flex-column mb-2">
      <label for="description" class="font-semibold w-24 mb-1">Description</label>
      <textarea rows="3" cols="30" pInputTextarea [(ngModel)]="newEvent.description"></textarea>
    </div>
    <div class="flex flex-column mb-2 relative">
      <label for="address" class="font-semibold w-24 mb-1">Address (choose autocomplete suggestion)</label>
      <input id="autocomplete" type="text" pInputText class="flex-auto" placeholder="Search for address"
        (input)="onAddEventAddressSearch($event)" [(ngModel)]="selectedAddEventAddress" autocomplete="off" />
      <ul *ngIf="addEventAddressSuggestions.length > 0" class="autocomplete-suggestions">
        <li *ngFor="let suggestion of addEventAddressSuggestions" (click)="selectAddEventAddressSuggestion(suggestion)">
          {{ suggestion.display_name }}
        </li>
      </ul>
    </div>
    <div class="calendars flex mb-1">
      <div class="flex flex-column mb-2 mr-4">
        <label for="startDate" class="font-semibold w-24 mb-1">Start date</label>
        <p-calendar inputId="calendar-24h" [(ngModel)]="newEvent.eventStart" [minDate]="minDate"
          [showTime]="true" [hourFormat]="'24'" dateFormat="dd/mm/yy" appendTo="body" />
      </div>
      <div class="flex flex-column mb-2">
        <label for="finishDate" class="font-semibold w-24 mb-1">Finish date</label>
        <p-calendar [(ngModel)]="newEvent.eventFinish" [minDate]="minDate" [showTime]="true"
          [hourFormat]="'24'" dateFormat="dd/mm/yy" appendTo="body" />
      </div>
    </div>
    <div class="thumbnail flex gap-3 align-items-end mb-4">
      <div *ngIf="newEvent.profilePicture != ''" class="flex flex-column">
        <label for="profilePicture" class="font-semibold w-24 mb-1">Thumbnail picture</label>
        <img *ngIf="newEvent.profilePicture" [src]="newEvent.profilePicture" alt="Event Image"
          class="w-max h-10rem border-round-lg mb-2" />
      </div>
      <p-fileUpload #fileupload class="mb-1" name="image" accept="image/*" mode="basic" [auto]="false" [customUpload]="true"
        [maxFileSize]="1000000" (onSelect)="onAddEventFileSelected($event, fileupload)" chooseLabel="Image">
      </p-fileUpload>
    </div>
  </div>
  <div class="form-invalid-message flex">
    <p *ngIf="addEventErrorMessage != ''" class="justify-content-end mb-0 pb-0 mt-0">{{addEventErrorMessage}}</p>
  </div>
  <div class="flex justify-content-end gap-2 mt-3">
    <p-button label="Cancel" (onClick)="cancelAddEventChanges()" />
    <p-button label="Save" severity="secondary" (onClick)="saveAddEventChanges()" />
  </div>
</p-dialog>

<p-dialog header="Edit Agency Info" [modal]="true" [(visible)]="editDialogeVisible" [style]="{ width: '60%', overflow: 'auto', maxHeight: '86%' }" [baseZIndex]="10000">
  <div class="attributes-container mb-4">
    <div class="attributes-container mb-4">
    <div class="flex flex-column mb-2">
      <label for="title" class="font-semibold w-24 mb-1">Name</label>
      <input pInputText id="title" class="flex-auto" autocomplete="off" [(ngModel)]="editAgencyInfo.name" />
    </div>
    <div class="flex flex-column mb-2">
      <label for="title" class="font-semibold w-24 mb-1">Email</label>
      <input pInputText id="email" class="flex-auto" autocomplete="off" [(ngModel)]="editAgencyInfo.email" />
    </div>
    <div class="flex flex-column mb-2">
      <label for="description" class="font-semibold w-24 mb-1">Description</label>
      <textarea rows="3" cols="30" pInputTextarea [(ngModel)]="editAgencyInfo.description"></textarea>
    </div>
    <div class="flex flex-column mb-2 relative">
      <label for="address" class="font-semibold w-24 mb-1">Address (choose autocomplete suggestion)</label>
      <input id="autocomplete" type="text" pInputText class="flex-auto" placeholder="Search for address"
        (input)="onUpdateInfoAddressSearch($event)" [(ngModel)]="selectedUpdateInfoAddress" autocomplete="off" />
      <ul *ngIf="updateInfoAddressSuggestions.length > 0" class="autocomplete-suggestions">
        <li *ngFor="let suggestion of updateInfoAddressSuggestions" (click)="selectUpdateInfoAddressSuggestion(suggestion)">
          {{ suggestion.display_name }}
        </li>
      </ul>
    </div>
  </div>
  <div class="thumbnail flex gap-3 align-items-end mb-4">
      <div *ngIf="editAgencyInfo.profilePicture != ''" class="flex flex-column">
        <label for="profilePicture" class="font-semibold w-24 mb-1">Profile picture</label>
        <img *ngIf="editAgencyInfo.profilePicture" [src]="editAgencyInfo.profilePicture" alt="Event Image"
          class="w-max h-10rem border-round-lg mb-2" />
      </div>
      <p-fileUpload #fileupload class="mb-1" name="image" accept="image/*" mode="basic" [auto]="false" [customUpload]="true"
        [maxFileSize]="1000000" (onSelect)="onUpdateInfoFileSelected($event, fileupload)" chooseLabel="Image">
      </p-fileUpload>
    </div>
  </div>
  <div class="form-invalid-message flex">
    <p *ngIf="updateInfoErrorMessage != ''" class="justify-content-end mb-0 pb-0 mt-0">{{updateInfoErrorMessage}}</p>
  </div>
  <div class="flex justify-content-end gap-2 mt-3">
    <p-button label="Cancel" (onClick)="cancelUpdateInfo()" />
    <p-button label="Save" severity="secondary" (onClick)="saveUpdateInfo()" />
  </div>
</p-dialog>
