:host ::ng-deep .p-stepper .p-stepper-nav {
  width: 50% !important;
  justify-self: center !important;
}

:host ::ng-deep .p-stepper .p-stepper-header .p-stepper-action {
  background: none !important;
}

:host ::ng-deep .p-stepper .p-stepper-header.p-highlight .p-stepper-number {
  background: var(--accent-color) !important;
  color: white !important;
}

:host ::ng-deep .p-stepper .p-stepper-header:has(~ .p-highlight) .p-stepper-separator {
  background: var(--accent-color) !important;
}

:host ::ng-deep .p-stepper .p-stepper-panels {
  background: var(--background-color) !important;
  padding: 0.5rem !important;
}

:host ::ng-deep .p-inputtext {
  border: none !important;
  width: 150px !important;
}

:host ::ng-deep .p-dropdown {
  border: none !important;
}

:host ::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: var(--secondary-color) !important;
}

:host ::ng-deep .p-dropdown .p-dropdown-trigger {
  display: none !important;
}

.autocomplete-suggestions {
  position: absolute;
  background: white;
  z-index: 999;
  border: 1px solid #ccc;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  margin-top: 0.5rem;
  top: 60px;  /* for positioning belov address input field*/
  border-radius: 6px;
}

.autocomplete-suggestions li {
  padding: 0.5rem;
  cursor: pointer;
}

.autocomplete-suggestions li:hover {
  background-color: #f0f0f0;
}

::ng-deep .p-fileupload-choose {
  background: none !important;
  box-shadow: none !important;
  border: none !important;
  color: var(--secondary-color) !important;
}

:host ::ng-deep .p-button.save-changes-button {
  background: none;
  color: var(--secondary-color) !important;
  border: 1px solid var(--secondary-color) !important;
  box-shadow: none !important;
}

:host ::ng-deep .p-button.remove-agency-button {
  background: none;
  color: var(--secondary-color) !important;
  box-shadow: none !important;
}

:host ::ng-deep .p-column-filter-menu-button.p-column-filter-menu-button-active {
  background: none !important;
  color: var(--secondary-color) !important;
  box-shadow: none !important;
}

:host ::ng-deep .p-icon-wrapper {
  color: var(--secondary-color) !important;
}

::ng-deep .p-column-filter-overlay .p-column-filter-row-items .p-column-filter-row-item.p-highlight {
    color: var(--secondary-color);
    background: none;
}

:host ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background: #d9e4e3;
    border-color: #EEF2FF;
    color: var(--text-color) !important;
}
