<div class="pl-4 pr-6 map-and-details flex flex-row flex-wrap h-26rem mt-6">
  <div class="map h-full">
    <div #mapContainer id="map"></div>
    <p class="text-xl font-medium	mb-0">
      {{ eventDetails?.address }}
    </p>
    <p class="mt-1">
      <span *ngIf="eventDetails?.cityName">
        {{ eventDetails!.cityName}}
        <span *ngIf="eventDetails?.countryName">,</span>
      </span>
      <span *ngIf="eventDetails?.countryName">
        {{ eventDetails!.countryName }}
      </span>
    </p>
  </div>
  <div class="details h-full flex flex-column justify-content-between">
    <div class="mb-3 title-and-agency">
      <h1 class="text-3xl mt-0 font-bold text-gray-800">{{ eventDetails?.title }}</h1>
      <p class="text-gray-600 text-xl mt-1">{{ eventDetails?.agencyName }}</p>
      <p class="text-gray-600 font-bold text-sm mt-6 mb-0">Description:</p>
      <p class="text-gray-600 text-base mt-1 description">{{eventDetails?.description}}</p>
    </div>
    <div class="time-and-buttons align-self-end flex flex-column">
      <p class="mb-0 text-gray text-xl flex flex-row justify-content-end"><span class="text-base mt-1 mr-2">Start:
        </span> {{eventDetails?.eventStart | date: 'dd.MM.yyyy, HH:mm'}}</p>
      <p class="mt-1 text-gray text-xl flex flex-row justify-content-end"><span class="text-base mt-1 mr-2">Finish:
        </span> {{eventDetails?.eventFinish | date: 'dd.MM.yyyy, HH:mm'}}</p>
      <div class="buttons flex flex-row justify-content-end">
        <p-button *ngIf="role == 'model'" class="mr-2" (onClick)="toggleAttendance()" [disabled]="!isAttending">Unattend</p-button>
        <p-button *ngIf="role == 'model'" (onClick)="toggleAttendance()" [disabled]="isAttending">Attend</p-button>
        <p-button *ngIf="role == 'agency'" class="mr-2" (onClick)="editDialogVisible = true;">Edit</p-button>
        <p-button *ngIf="role == 'agency'" styleClass="delete-button" (onClick)="deleteDialogVisible = true; confirmDelete($event)">Delete</p-button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="eventDetails?.modelApplications != null" class="pl-4 mt-7 pr-6 model-applications">
  <h2 class="text-base font-semibold text-gray-400 mb-2">Check out other applicants</h2>
  <p-carousel
  [value]="eventDetails!.modelApplications"
  [numVisible]="4"
  [numScroll]="1"
  [circular]="true"
  [responsiveOptions]="responsiveOptions"
  >
  <ng-template let-application pTemplate="item">
    <div (click)="goToModelProfile(application.id)" class="application-card flex flex-column gap-2 w-10rem h-10rem cursor-pointer">
      <img class="profile-picture border-round-lg" [src]="application.profilePicture" alt="Application Image" />
      <p class="text-gray-600 text-sm align-self-center mt-0 font-semibold">
        {{ application.firstName }} {{ application.lastName }}
      </p>
    </div>
  </ng-template>
</p-carousel>
<!-- <div class="flex flex-row flex-wrap gap-3">
  <ng-container *ngFor="let application of eventDetails?.modelApplications">
    <div (click)="goToModelProfile(application.id)" class="application-card flex flex-column gap-2 w-10rem h-10rem">
      <img class="profile-picture border-round-lg" [src]="application.profilePicture" alt="Application Image" />
      <p class="text-gray-600 text-sm align-self-center mt-0 font-semibold">{{ application.firstName }} {{application.lastName}}</p>
    </div>
  </ng-container>
</div> -->
</div>

<p-dialog header="Edit event" [modal]="true" [(visible)]="editDialogVisible" [style]="{ width: '40rem' }">
  <div class="flex items-center gap-4 mb-4">
      <label for="username" class="font-semibold w-24">Username</label>
      <input pInputText id="username" class="flex-auto" autocomplete="off" />
  </div>
  <div class="flex justify-end gap-2">
      <p-button label="Cancel" severity="secondary" (onClick)="cancelEditEventChanges()" />
      <p-button label="Save" (onClick)="saveEditEventChanges()" />
  </div>
</p-dialog>

<p-confirmDialog header="Delete event"></p-confirmDialog>

<p-toast></p-toast>
