.map {
  flex: 0 0 44%;
  max-width: 44%;
  box-sizing: border-box;
  height: 88%;
  /* background-color: antiquewhite; */
}

.details {
  flex: 0 0 56%;
  max-width: 56%;
  box-sizing: border-box;
  height: 88%;
  padding-left: 2rem;
  /* background-color: lightblue; */
}

#map {
  width: 100%;
  height: 88%;
  min-height: 300px;
  position: relative;
}

::ng-deep .p-button:disabled {
  color: black !important;
  cursor: not-allowed;
}

.profile-picture {
  height: 70%;
  width: auto;
  object-fit: cover;
}

.model-applications {
  width: 72%;
}

.description{
  max-height: 13rem;
  overflow: auto;
}

@media screen and (max-width: 900px) {

  .model-applications {
    width: 100%;
  }

}

@media screen and (max-width: 700px) {
  .map {
    flex: 0 0 100%;
    max-width: 100%;
    box-sizing: border-box;
    height: auto;
  }

  .details {
    margin-top: 2rem;
    padding-left: 0px;
    flex: 0 0 100%;
    max-width: 100%;
    box-sizing: border-box;
    height: auto;
  }

  .map-and-details {
    height: auto !important;
    gap: 0 !important;
  }
}

:host ::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  background-color: var(--accent-color) !important;
  border-radius: 6px !important;
}

:host ::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator button {
  border-radius: 6px !important;
}

:host ::ng-deep .p-carousel .p-carousel-content .p-carousel-next .p-icon-wrapper {
  color: var(--accent-color) !important;
}

:host ::ng-deep .p-carousel .p-carousel-content .p-carousel-prev .p-icon-wrapper {
  color: var(--accent-color) !important;
  background-color: none !important;
}

:host ::ng-deep .p-carousel .p-carousel-indicators {
  padding-top: 0% !important;
}

:host ::ng-deep .p-button.delete-button {
  background-color: #e94c4c !important;
}

:host ::ng-deep .p-confirm-dialog .p-dialog-content {
  padding:  1.5rem 2rem 1.5rem !important;
}

:host ::ng-deep .p-dialog .p-dialog-content {
  padding:  1.5rem 2rem 1.5rem !important;
}

/* :host ::ng-deep .p-dialog .p-calendar {
  overflow: visible !important;
  position: relative;
}

:host ::ng-deep .p-dialog-content {
  overflow: visible !important;
}

:host ::ng-deep .p-calendar .p-datepicker {
  background-color: var(--primary-color);
  color: white;
}

:host ::ng-deep .p-datepicker:not(.p-datepicker-inline) .p-datepicker-header {
  background-color: var(--primary-color);
}

:host ::ng-deep .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month {
  color: white;
}

:host ::ng-deep .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year {
  color: white;
} */

:host ::ng-deep .p-button-secondary:hover {
  background-color: var(--accent-color) !important;
  color: white !important;
}
