<div class="background h-screen flex align-items-center justify-content-center">
  <div class="register-container w-5 p-5 shadow-3 flex flex-column">
    <div class="flex align-items-center justify-content-between w-full">
      <h2 class="m-0 text-xl font-bold">Register to ModeLink</h2>
      <img src="assets/images/logo_final.png" alt="Logo" class="w-auto h-2rem">
    </div>
    <p class="mb-0 mt-4 text-lg">Welcome to ModeLink, where opportunities meet ambition. Let's get started!</p>
    <p-divider class="p-0 m-0" />
    <p class="mb-3 mt-0">Continue as...</p>
    <div class="roles p-2 pt-1 pb-1 border-round-lg flex align-self-center align-items-center justify-content-between w-6">
      <p-button (onClick)="navigateToRegistration('model')">Model</p-button>
      <p-button (onClick)="navigateToRegistration('agency')">Agency</p-button>
    </div>
  </div>
</div>
